.header {
  position: relative;
  height: 64px;
  color: #fff;
  background-color: #252429;
}

.header--transparent {
  background-color: transparent;
}

.header .fixed-container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 24px;
  height: 24px;
}

.header__title {
  margin-left: 8px;
  font-size: 14px;
}

.header__menu img {
  width: 20px;
  height: 20px;
}

.header .fixed-container {
  padding: 0 16px;
}

.drawer {
  display: none;
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.drawer--active {
  display: block;
}

.drawer__container {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  max-width: 100%;
  overflow-y: auto;
  background-color: #252429;
}

.drawer__closer {
  position: absolute;
  top: 14px;
  right: 8px;
  padding: 8px;
}

.drawer__closer img {
  width: 20px;
  height: 20px;
}

.drawer__content {
  font-size: 16px;
  color: #fff;
}

.nav--horizontal {
  display: none;
}

.nav--horizontal .nav__list {
  display: flex;
  align-items: center;
}

.nav--horizontal .nav__item {
  position: relative;
  font-size: 14px;
  padding: 8px;
}

.nav--horizontal .nav__item::after {
  position: absolute;
  content: ' ';
  bottom: 0;
  left: 50%;
  width: 24px;
  margin-left: -12px;
  border-bottom: 2px solid #ff350d;
  transform: scale(0);
  transition: all ease-in-out 0.3s;
}

.nav--horizontal .nav__item:hover::after {
  transform: scale(1);
}

.nav--horizontal .nav__item {
  font-size: 14px;
}

.nav--horizontal .nav__item + .nav__item {
  margin-left: 50px;
}

.nav--vertical .nav__item {
  padding: 0 20px;
}

.nav--vertical .nav__item:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.nav--vertical .nav__item-text {
  display: block;
  padding: 32px 0;
}

.nav--vertical .nav__item + .nav__item .nav__item-text {
  border-top: 1px solid #333;
}
