.nav-link {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.nav-link-text {
  margin: 0 8px;
}

.battle-link {
  display: none;
  right: 0;
}

.popular-link {
  left: 0;
}

.battle-button {
  position: fixed;
  right: 16px;
  bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 500px) {
  .battle-button {
    display: none;
  }

  .battle-link {
    display: flex;
  }
}
