@use "../variables" as *;

.players {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players-title {
  font-size: 28px;
}

.player-form-container {
  display: flex;
}

.player-form {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}

.form-item {
  display: flex;
  align-items: center;
  height: 32px;
  margin-top: 8px;
}

.form-label {
  font-size: 14px;
}

.avatar {
  position: relative;
  margin-top: 32px;
  width: 100px;
  height: 100px;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 4px;
  transform: translate(50%, -50%);
  background-color: #222;
}

.avatar > img {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
}

.input {
  padding: 8px 16px;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
}

.input:disabled {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
  color: #aaa;
}

.input:focus {
  outline: none;
}

.button {
  padding: 8px 16px;
  border: 1px solid $primary-color;
  border-radius: 4px;
  margin-left: 8px;
}

.button:hover {
  background-color: rgba($color: $primary-color, $alpha: 0.15);
}

.button:active {
  background-color: rgba($color: $primary-color, $alpha: 0.3);
}

.button:disabled {
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
  color: #aaa;
}
